@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Darumadrop+One&family=Roboto+Mono:ital,wght@1,500&family=Roboto:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}